<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
  <style>
/*.assignment-date  {
    float:right;
  }*/
  /*.assignment-footer img{
    position: absolute;
    bottom: 0%;
    width: 600px;
  }*/
  .page{
    margin:0px;
    position:relative;
    padding:0 10px;
  }
  .clear{
    clear: both;
  }
  .assignment-footer{
    position: absolute;
    bottom: 0%;
  }
.assignment-date {
  display: inline-block;
  width:60%;
  color:black;
  position: absolute;
  right:9%;
  color:black!important;
}
.logo-img {
  position: absolute;
  width:200px!important;
  height:100px!important;
  top: -1%;
  right: 0%;
}
.student-name {
  display: inline;
}
.student-name .field__label{
  width:10%;
  display: inline;
  float:left;
  color:black!important;
}
.student-name .field__item{
  color:red;
  width:20%;
  display: inline;
}
.field__label{
  color:blue;
  width:10%;
  display: inline;
  float:left;
}
/*.field__item{
  color:black;
  width:90%;
  text-align: justify;
  display: inline;
  color:black!important;
}*/
.student-name{
  color: black!important;
}
.student-name a{
  text-decoration: none!important;
  color:black!important;
  cursor: default;
  width: 200px;
  display: inline;
}
.clear{
  clear:both;
}
.assignment-field{
  margin-top: 15px;
}
.breathing-exercise {
  width:400px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.breathing-exercise .field__label{
 width: 300px;
 display:block!important;
 clear:both;
}
.breathing-exercise .field__item{
 display:block!important;
 clear:both;

}
#facetime{
  color:blue;
}
#skype{
  color:#0073e6;
}
.iphface{
  width:600px;
}
.iphone{
  width:200px;
  height:15px;
}
.facetime{
  width:200px;
  height:15px;
  vertical-align: bottom;
}
.facetime a{
  display: inline-block;
}
.skype{
  width:200px;
  height:15px;
  vertical-align: bottom;
}
.skype a{
  display:inline-block;
}
.name h4{
  padding: 0px;
  margin: 0px;
  height: 5px;
}
#assignment-field3{
  margin-bottom: 45px;
}
.assignment-field{
height: 50px;
}
.assignment-field h4{
  color:blue;
  width:10%;
  display: inline;
}
.assignment-field p{
  margin-top:10px;
}
.red-left{
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  color:red;
}
.red-right{
  position: absolute;
  top: 0%;
  margin-left: 500px;
  font-style: italic;
  color: red;
}
.margin-top{
  margin-top: -10px;
}
.margin-bot {
  margin-bottom: 0px;
}
.wrapper{
  position: relative;
}

  </style>
</head>
<body>
<div class="page">
  <div class="student-name">
{{ content.field_student_s_first_and_last_n }}
</div>
<div class="assignment-date">
{{ content.field_date }}
</div>
<div class="clear">
</div>
<div class="logo-img">
  <img src="/sites/default/files/purtle.png"/>
</div>
<div class="breathing-exercise margin-bot">
{{ content.field_breathing_exercise }}
</div>
<div ="wrapper">
  <div class="red-left"> <h3>Big Breath</br> Chest Up</h3> </div>
  <div class="red-right"> <h3>Watch</br> The Tongue</h3> </div>
</div>
<div class="assignment-field margin-top">
<h4>
 A.
</h4>
<p>
{{ content.field_assignment_a }}
</p>
</div>
<div class="assignment-field">
  <h4>
   B.
  </h4>
  <p>
{{ content.field_assignment_b }}
</p>
</div>
<div class="assignment-field">
  <h4>
   C.
  </h4>
  <p>
{{ content.field_assignment_c }}
</p>
</div>
<div class="assignment-field margin-bot">
  <h4>
   D.
  </h4>
  <p>
{{ content.field_assignment_d }}
</p>
</div>
<div ="wrapper">
  <div class="red-left"> <h3>Big Breath</br> Chest Up</h3> </div>
  <div class="red-right"> <h3>Lift Fingers High</br>Strike Valves Hard</h3> </div>
</div>
<div class="assignment-field margin-top">
  <h4>
   I.
  </h4>
  <p>
{{ content.field_assignment_1 }}
</p>
</div>
<div ="wrapper">
  <div class="red-left"> <h3>Big Breath</br> Chest Up</h3> </div>
</div>

<div class="assignment-field margin-bot margin-top">
  <h4>
   II.
  </h4>
  <p>
{{ content.field_assignment_2 }}
</p>
</div>
<div ="wrapper">
  <div class="red-left"> <h3>Big Breath</br> Chest Up</h3> </div>
</div>

<div id="assignment-field3"class="assignment-field margin-top margin-bot">
  <h4>
   III.
  </h4>
  <p>
{{ content.field_assignment_3 }}
</p>
<div ="wrapper ">
  <div class="red-right"> <h3>Relax Lip</br>Long Rest </h3> </div>
</div>
</div>


<div class="assignment-footer ">
  <div class="name">
    <h4> Jeff Purtle</h4>
  </div>
  <div class="iphface">
  <div class="iphone">
    <p id="iphone">iPhone: 864.354.3223 </p>
  </div>
<div class="facetime">
  <p>FaceTime &amp; iMessages:<a id="facetime">jeff@purtle.com</a></p>
</div>
<div class="skype">
  <p>Skype:<a id="skype"> jeff_purtle</a></p>
</div>
</div>
  </div>
</div>
</div>
</body>
</html>
